{#
  Intro
  ================
#}

{#
  {% include '_components/components.intro-new' %}
#}

{# -- Module -- #}


<div class="o-row-large">
  <div class="o-wrapper o-wrapper--huge">
    {# Breadcrumb #}
    {% include "_elements/elements.breadcrumb" %}
    {# Page title #}
    <h1 class="c-h1">{{ entry.title }}</h1>
    {# Intro #}
    <div class="s-editor s-editor--intro">
      {% set intro = entry.intro.all() %}
      {% for block in intro %}
      {% switch block.type %}
      {% case "introParagraph" %}
        {{ block.introParagraph }}
      {% case "paragraph" %}
        {{ block.paragraph }}
      {% case "subtitle" %}
        <h2>{{ block.subtitle }}</h2>
      {% case "button" %}
        <p>
          {% if block.buttonLink | length %}
          {% for link in block.buttonLink.all() %}
          <a href="{{ link.url }}" class="c-btn c-btn--large c-btn--primary">
            {{ block.buttonTitle }}
          </a>
          {% endfor %}
          {% else %}
          <a href="{{ block.buttonURL }}" class="c-btn c-btn--large c-btn--primary">
            {{ block.buttonTitle }}
          </a>
          {% endif %}
        </p>
      {% endswitch %}
      {% endfor %}
    </div>
  </div>
</div>
