{% if entry.banner | length() %}
<div class="o-row-large u-divider">
  <div class="o-wrapper o-wrapper--huge">
    <ul class="o-layout o-layout--small">
      {% for item in entry.banner.all() %}
      <li class="o-layout__item">
        <article class="o-box o-box--flush js-link-expand-holder c-card c-card--epsilon">
          <div class="o-layout o-layout--flush {{ cycle(['','o-layout--reverse'], loop.index0) }}">
            <div class="o-layout__item u-1/3@small u-1/2@large c-fit-holder">
              {% for link in item.linkPage.all() %}
              {% if link.pageIntro | length() %}
                {% if link.pageIntro.visual | length() %}
                {% set visual = link.pageIntro.visual.all() %}
                {% for block in visual %}
                {% switch block.type %}
                {% case "image" %}
                  {% for image in block.image.all() %}
                  <a href="{{ link.url }}" alt="{{ item.title }}" class="c-fit">
                    <img
                      data-sizes="auto"
                      data-srcset="
                        {{ image.url(small) }} 350w,
                        {{ image.url(medium) }} 600w,
                        {{ image.url(large) }} 900w,
                        {{ image.url(xlarge) }} 1280w,
                        {{ image.url(huge) }} 1400w"
                      src="{{ image.url(thumb) }}"
                      alt="{{ image.altText }}"
                      class="c-media c-media--fit lazyload fade-in">
                    </a>
                  {% endfor %}
                {% endswitch %}
                {% endfor %}
                {% endif %}
              {% endif %}
              {% endfor %}
            </div>
            <div class="o-layout__item u-2/3@small u-1/2@large">
              <div class="o-box s-editor s-editor--small">
                <h2 class="u-margin-bottom-small">
                  {{ item.heading }}
                </h2>
                <div class="s-editor">
                  {{ item.paragraph }}
                  <p>
                    {% for link in item.linkPage.all() %}
                    <a href="{{ link.url }}" class="c-btn c-btn--secondary">
                      {{ item.linkText }}
                    </a>
                    {% endfor %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}