{#
  Navigation
  ================
#}

{#
  {% include '_components/components.navigation.twig' with { options: { handle: '' } } %}
#}

{# -- Set Defaults -- #}
{% set defaults = {
  handle: ''
} %}

{% if options is defined %}
  {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
  {% set options = defaults %}
{% endif %}

{# -- Module -- #}

<nav>
  <div class="c-navigation js-nav{% if currentSite != 'Nerdlab' %} c-navigation--group{% endif %}">
    <ul class="o-list-bare c-navigation__list">
      {% set content = options.handle.all() %}
      {% for block in content %}
      {% if block.externalLink %}<li class="c-list-bare__item c-navigation__item ">
        <a href="{{ block.externalLink }}{{ block.itemID }}" class="c-navigation__link c-pill__shape" target="_blank">{{ block.itemTitle }}</a>
      </li>
      {% else %}
      {% set links = block.itemLink.all() %}
      {% for link in links %}
      {% set active = bodyClass == link.section.handle %}
      {% if block.itemID %}
      <li class="c-list-bare__item c-navigation__item ">
        <a href="{{ link.url }}{{ block.itemID }}" class="c-navigation__link c-pill__shape">{{ block.itemTitle }}</a>
      </li>
      {% else %}
      <li class="c-list-bare__item c-navigation__item">
        <a href="{{ link.url }}{{ block.itemID }}" class="c-navigation__link c-pill__shape">{{ block.itemTitle }}</a>
      </li>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>

