{# {% include '_components/components.content-video' %} #}

<div class="o-row-large u-border-top">
  <div class="o-wrapper o-wrapper--huge">
    <div class="s-editor">
      <h2>{{ block.heading }}</h2>
    </div>
    {% if block.youtubeId | length() %}
    <div class="o-crop o-crop--fill o-crop--16:9">
      <iframe class="o-crop__content" src="https://www.youtube.com/embed/{{ block.youtubeId }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% elseif block.vimeoId | length() %}
    <div class="o-crop o-crop--fill o-crop--16:9">
      <iframe class="o-crop__content " src="https://player.vimeo.com/video/{{ block.vimeoId }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    {% elseif block.video | length() %}
    {% for video in block.video.all() %}
      <div class="o-crop o-crop--16:9">
      {% if block.videoPoster | length() %}
        {% for poster in block.videoPoster.all() %}
        <video controls poster="{{ poster.url }}" class="o-crop__content">
          <source src="{{ video.url }}">
        </video>
        {% endfor %}
      {% else %}
        <video controls>
          <source src="{{ video.url }}">
        </video>
      {% endif %}
      </div>
    {% endfor %}
    {% endif %}
    {% if block.paragraph | length() %}
    <div class="s-editor u-margin-top">
        {{ block.paragraph }}
    </div>
    {% endif %}
  </div>
</div>
