{#
  Portfolio overview
  ================
#}

{#
  {% include '_components/components.projects-overview' %}
#}

{# -- Module -- #}
{% set pageEntries = craft.entries
  .section('projects')
  .all()
  | supersort('sortAs', '{projectDetails.dateStart.date}')
%}

{% set soon = "false" %}
{% for project in pageEntries if project.projectDetails.dateStart|date('Ymd') > now|date('Ymd') %}{% set soon = "true" %}{% endfor %}
{% if soon == "true" %}
<div class="o-row-large u-divider">
  <div class="o-wrapper o-wrapper--huge">
    <div class="s-editor s-editor--title">
      <h2>{{ labels.labelSoon }}</h2>
    </div>
    <ul class="o-layout c-card-group-two">
    {% for project in pageEntries if project.projectDetails.dateStart|date('Ymd') > now|date('Ymd') %}
      <li class="o-layout__item u-1/2@medium">
        <article class="o-box o-box--flush">
          {% if project.pageIntro | length() %}
          <div class="o-crop o-crop--3:1 u-margin-bottom c-media-border">
            {% if project.pageIntro.visual | length() %}
            {% set visual = project.pageIntro.visual.all() %}
            {% for block in visual %}
            {% switch block.type %}
            {% case "image" %}
              {% for image in block.image.all() %}
              <a href="{{ project.url }}" alt="{{ project.title }}">
                <img
                  data-sizes="auto"
                  data-srcset="
                    {{ image.url(small) }} 350w,
                    {{ image.url(medium) }} 600w,
                    {{ image.url(large) }} 900w,
                    {{ image.url(xlarge) }} 1280w,
                    {{ image.url(huge) }} 1400w"
                  src="{{ image.url(thumb) }}"
                  alt="{{ image.altText }}"
                  class="o-crop__content o-crop__content--center c-media lazyload fade-in">
                </a>
              {% endfor %}
            {% endswitch %}
            {% endfor %}
            {% endif %}
          </div>
          {% endif %}
          <div class="s-editor s-editor--small">
            <h2 class="u-margin-bottom-small">
              <a href="{{ project.url }}">
                {{ project.title }}
              </a>
            </h2>
            {# Details #}
            <ul class="o-list-bare c-list c-list--agenda c-faded">
              {% if project.projectDetails.dateStart | length() %}
              <li class="o-list-bare__item c-list__item">
                {% if project.projectDetails.dateEnd | length %}
                🗓️ &nbsp;{{ project.projectDetails.dateStart | date('d F Y') | capitalize }}
                {% if project.projectDetails.dateEnd  | date('d F Y') == project.projectDetails.dateStart  | date('d F Y') %}
                {% else %}
                tot
                {{ project.projectDetails.dateEnd | date('d F Y') | capitalize }}
                {% endif %}
                {% else %}
                🗓️ &nbsp;{{ project.projectDetails.dateStart | date('d F Y') | capitalize }}
                {% endif %}
              </li>
              {% endif %}
              {% if project.projectDetails.location | length() %}
              <li class="o-list-bare__item c-list__item">
                📍 &nbsp;{{ project.projectDetails.location }}
              </li>
              {% endif %}
              {% if project.projectDetails.state | length() %}
              <li class="o-list-bare__item c-list__item">
                🏷️ &nbsp;{{ project.projectDetails.state | capitalize }}
              </li>
              {% endif %}
            </ul>
          </div>
        </article>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% set ongoing = "false" %}
{% for project in pageEntries if project.projectDetails.dateStart|date('Ymd') <= now|date('Ymd') and project.projectDetails.dateEnd|date('Ymd') >= now|date('Ymd') %}{% set ongoing = "true" %}{% endfor %}
{% if ongoing == "true" %}
<div class="o-row-large u-divider">
  <div class="o-wrapper o-wrapper--huge">
    <div class="s-editor s-editor--title">
      <h2>{{ labels.labelOngoing }}</h2>
    </div>
    <ul class="o-layout c-card-group">
    {% for project in pageEntries if project.projectDetails.dateStart|date('Ymd') <= now|date('Ymd') and project.projectDetails.dateEnd|date('Ymd') >= now|date('Ymd') %}
      <li class="o-layout__item u-1/2@small u-1/3@medium">
        <article class="o-box o-box--flush">
          {% if project.pageIntro | length() %}
          <div class="o-crop o-crop--3:1 u-margin-bottom c-media-border">
            {% if project.pageIntro.visual | length() %}
            {% set visual = project.pageIntro.visual.all() %}
            {% for block in visual %}
            {% switch block.type %}
            {% case "image" %}
              {% for image in block.image.all() %}
              <a href="{{ project.url }}" alt="{{ project.title }}">
                <img
                  data-sizes="auto"
                  data-srcset="
                    {{ image.url(small) }} 350w,
                    {{ image.url(medium) }} 600w,
                    {{ image.url(large) }} 900w,
                    {{ image.url(xlarge) }} 1280w,
                    {{ image.url(huge) }} 1400w"
                  src="{{ image.url(thumb) }}"
                  alt="{{ image.altText }}"
                  class="o-crop__content o-crop__content--center c-media lazyload fade-in">
                </a>
              {% endfor %}
            {% endswitch %}
            {% endfor %}
            {% endif %}
          </div>
          {% endif %}
          <div class="s-editor s-editor--small">
            <h2 class="u-margin-bottom-small">
              <a href="{{ project.url }}">
                {{ project.title }}
              </a>
            </h2>
            {# Details #}
            <ul class="o-list-bare c-list c-list--agenda c-faded">
              {% if project.projectDetails.dateStart | length() %}
              <li class="o-list-bare__item c-list__item">
                {% if project.projectDetails.dateEnd | length %}
                🗓️ &nbsp;{{ project.projectDetails.dateStart | date('d F Y') | capitalize }}
                {% if project.projectDetails.dateEnd  | date('d F Y') == project.projectDetails.dateStart  | date('d F Y') %}
                {% else %}
                tot
                {{ project.projectDetails.dateEnd | date('d F Y') | capitalize }}
                {% endif %}
                {% else %}
                🗓️ &nbsp;{{ project.projectDetails.dateStart | date('d F Y') | capitalize }}
                {% endif %}
              </li>
              {% endif %}
              {% if project.projectDetails.location | length() %}
              <li class="o-list-bare__item c-list__item">
                📍 &nbsp;{{ project.projectDetails.location }}
              </li>
              {% endif %}
              {% if project.projectDetails.state | length() %}
              <li class="o-list-bare__item c-list__item">
                🏷️ &nbsp;{{ project.projectDetails.state | capitalize }}
              </li>
              {% endif %}
            </ul>
            {% if project.shortDescription | length() %}
            <div class="s-editor">
              <p>{{ project.shortDescription}}</p>
              <p>
                <a href="{{ project.url }}">
                  {{ labels.labelMoreInfo }}
                </a>
              </p>
            </div>
            {% elseif project.pageIntro | length() %}
            {% set intro = project.pageIntro.intro.all() %}
            {% for block in intro %}
            {% switch block.type %}
            {% case "paragraph" %}
              <p class="c-small u-margin-bottom-none">{{ block.paragraph | length > 125 ? block.paragraph | slice(3, 125) ~ '...' : block.paragraph }}</p>
              <p>
                <a href="{{ project.url }}">
                  {{ labels.labelMoreInfo }}
                </a>
              </p>
            {% endswitch %}
            {% endfor %}
            {% endif %}
          </div>
        </article>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}



{% set passed = "false" %}
{% for project in pageEntries if project.projectDetails.dateEnd|date('Ymd') < now|date('Ymd') %}{% set passed = "true" %}{% endfor %}
{% if passed == "true" %}
<div class="o-row-large u-divider">
  <div class="o-wrapper o-wrapper--huge">
    <div class="s-editor">
      <h2 class="c-title-graphic">{{ labels.labelPassed }}</h2>
    </div>
    <ul class="c-para o-list-bare c-list c-list--divider u-margin-top">
    {% for project in pageEntries if project.projectDetails.dateEnd|date('Ymd') < now|date('Ymd') %}
      <li class="s-editor s-editor--small o-list-bare__item c-list__item">
        <article class="o-box o-box--flush">
          <div class="s-editor s-editor--small">
            <h3 class="u-margin-bottom-small">
              <a href="{{ project.url }}">
                {{ project.title }}
                {% if project.projectDetails.dateEnd | length %}
                : {{ project.projectDetails.dateStart | date('d F Y') | capitalize }}
                {% if project.projectDetails.dateEnd  | date('d F Y') == project.projectDetails.dateStart  | date('d F Y') %}
                {% else %}
                tot
                {{ project.projectDetails.dateEnd | date('d F Y') | capitalize }}
                {% endif %}
                {% else %}
                : {{ project.projectDetails.dateStart | date('d F Y') | capitalize }}
                {% endif %}
              </a>
            </h3>
          </div>
        </article>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
