{% if entry.banner | length() %}
<div class="o-row-large u-divider">
  <div class="o-wrapper o-wrapper--huge">
    <ul class="o-layout o-layout--small">
      {% for item in entry.banner.all() %}
      <li class="o-layout__item">
        <article class="o-box o-box--flush c-card c-card--epsilon c-card-link">
          <div class="o-layout o-layout--flush {{ cycle(['','o-layout--reverse'], loop.index0) }}">
            <div class="o-layout__item u-1/3@small u-1/2@large c-fit-holder">
              <div class="c-fit">
              {% for image in item.image.all() %}
                {% if image.getMimeType() == 'image/gif' %}
                <img
                  src="{{ image.url() }}"
                  alt="{{ image.altText }}"
                  class="c-media c-media--fit lazyload fade-in">
                {% else %}
                <img
                  data-sizes="auto"
                  data-srcset="
                    {{ image.url(small) }} 350w,
                    {{ image.url(medium) }} 600w,
                    {{ image.url(large) }} 900w,
                    {{ image.url(xlarge) }} 1280w,
                    {{ image.url(huge) }} 1400w"
                  src="{{ image.url(thumb) }}"
                  alt="{{ image.altText }}"
                  class="c-media c-media--fit lazyload fade-in">
                {% endif %}
              {% endfor %}
              </div>
            </div>
            <div class="o-layout__item u-2/3@small u-1/2@large">
              <div class="o-box s-editor s-editor--small">
                <h2 class="u-margin-bottom-small">
                  {{ item.heading }}
                </h2>
                <div class="s-editor">
                  {{ item.paragraph }}
                  <p>
                    {% if item.linkExternal | length() %}
                    <a href="{{ item.linkExternal }}" class="c-btn c-btn--secondary c-card-link__link">
                      {{ item.linkText }}
                    </a>
                    {% endif %}
                    {% if item.linkInternal | length() %}
                    {% for link in item.linkInternal.all() %}
                    <a href="{{ link.url }}" class="c-btn c-btn--secondary c-card-link__link">
                      {{ item.linkText }}
                    </a>
                    {% endfor %}
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}