{#
  Intro
  ================
#}

{#
  {% include '_components/components.page-intro' %}
#}

{# -- Module -- #}

{% if entry.pageIntro | length() %}
<div class="o-row c-hero">
  <div class="o-wrapper o-wrapper--huge c-hero">
    <div class="o-layout o-layout--flush">
      <div class="o-layout__item u-2/3@medium u-1/2@large">
        <div class="o-box o-box--flush c-hero__body">
          {# Breadcrumb #}
          {% include "_elements/elements.breadcrumb" %}
          {# Page title #}
          <h1 class="c-page-title">{{ entry.pageIntro.pageTitle }}</h1>
          {# Intro #}
          <div class="s-editor s-editor--intro">
            {% set intro = entry.pageIntro.one().intro.all() %}
            {% for block in intro %}
            {% switch block.type %}
            {% case "paragraph" %}
              {{ block.paragraph }}
            {% case "subtitle" %}
              <h2>{{ block.subtitle }}</h2>
            {% case "button" %}
              <p>
                {% if block.buttonLinkExternal | length() %}
                <a href="{{ block.buttonLinkExternal }}" class="c-btn c-btn--large c-btn--primary">
                  {{ block.buttonText }}
                </a>
                {% else %}
                {% if block.buttonLinkInternal | length() %}
                {% for link in block.buttonLinkInternal.all() %}
                <a href="{{ link.url }}" class="c-btn c-btn--large c-btn--primary">
                  {{ block.buttonText }}
                </a>
                {% endfor %}
                {% endif %}
                {% endif %}
              </p>
            {% endswitch %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-hero__visual c-hero__visual--map">
    <div class="c-map">
      <div id="osm-map" class="c-map__background"></div>
    </div>
  </div>
</div>
{% endif %}




<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>
<script>
  // Where you want to render the map.
  var element = document.getElementById('osm-map');

  // Create Leaflet map on map element.
  var map = L.map(element,
    { zoomControl:false }
  );

  // Add OSM tile leayer to the Leaflet map.
  L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>'
  }).addTo(map);

  // Target's GPS coordinates.
  var target = L.latLng('{{ entry.googleMap.lat }}', '{{ entry.googleMap.lng }}');

  // Set map's center to target with zoom 14.
  map.setView(target, 14);

  map.scrollWheelZoom.disable();
  map.dragging.disable();


  L.circle([{{ entry.googleMap.lat }}, {{ entry.googleMap.lng }}], {
    radius: (50),
    color: "#F33",
    fill: false
  }).addTo(map);

</script>
