{% if item.articleLink | length() %}
{% for page in item.articleLink.all() %}
<li class="single-event single-event--link {% if item.mutationSmall %}single-event--small{% endif %} {% if item.programType == 'info' %}single-event--info{% endif %}" data-start="{{ item.hourStart|date('H:i') }}" data-end="{{ item.hourEnd|date('H:i') }}" data-content="#!" data-event="friday">
  <a href="{{ page.url }}">
    <span class="event-name">
      <span class="c-underline">{{ item.title }}</span>
      {% if item.programType == "talk" %}
      <span class="event-label">{{ mutationGlobals.timetableLabels.one().talk }}</span>
      {% elseif item.programType == "talkDebat" %}
      <span class="event-label">{{ mutationGlobals.timetableLabels.one().talkDebat }}</span>
      {% elseif item.programType == "workshop" %}
      <span class="event-label event-label--primary">{{ mutationGlobals.timetableLabels.one().workshop }}</span>
      {% elseif item.programType == "workshopDebat" %}
      <span class="event-label event-label--primary">{{ mutationGlobals.timetableLabels.one().workshopDebat }}</span>
      {% elseif item.programType == "inspiratiesessie" %}
      <span class="event-label event-label--secondary">{{ mutationGlobals.timetableLabels.one().inspiratiesessie }}</span>
      {% elseif item.programType == "denktank" %}
      <span class="event-label event-label--tertiary">{{ mutationGlobals.timetableLabels.one().denktank }}</span>
      {% elseif item.programType == "expo" %}
      <span class="event-label event-label--quarternary">{{ mutationGlobals.timetableLabels.one().expo }}</span>
      {% elseif item.programType == "performance" %}
      <span class="event-label event-label--quinary">{{ mutationGlobals.timetableLabels.one().performance }}</span>
      {% endif %}
    </span>
  </a>
</li>
{% endfor %}
{% else %}
<li class="single-event {% if item.mutationSmall %}single-event--small{% endif %} {% if item.programType == 'info' %}single-event--info{% endif %}" data-start="{{ item.hourStart|date('H:i') }}" data-end="{{ item.hourEnd|date('H:i') }}" data-content="#!" data-event="friday">
  <a href="#!" class="js-link-none">
    <span class="event-name">
      {{ item.title }}
      {% if item.programType == "talk" %}
      <span class="event-label">{{ mutationGlobals.timetableLabels.one().talk }}</span>
      {% elseif item.programType == "talkDebat" %}
      <span class="event-label">{{ mutationGlobals.timetableLabels.one().talkDebat }}</span>
      {% elseif item.programType == "workshop" %}
      <span class="event-label event-label--primary">{{ mutationGlobals.timetableLabels.one().workshop }}</span>
      {% elseif item.programType == "workshopDebat" %}
      <span class="event-label event-label--primary">{{ mutationGlobals.timetableLabels.one().workshopDebat }}</span>
      {% elseif item.programType == "inspiratiesessie" %}
      <span class="event-label event-label--secondary">{{ mutationGlobals.timetableLabels.one().inspiratiesessie }}</span>
      {% elseif item.programType == "denktank" %}
      <span class="event-label event-label--tertiary">{{ mutationGlobals.timetableLabels.one().denktank }}</span>
      {% elseif item.programType == "expo" %}
      <span class="event-label event-label--quarternary">{{ mutationGlobals.timetableLabels.one().expo }}</span>
      {% elseif item.programType == "performance" %}
      <span class="event-label event-label--quinary">{{ mutationGlobals.timetableLabels.one().performance }}</span>
      {% endif %}
    </span>
  </a>
</li>
{% endif %}
