{# {% include '_components/components.content-related-pages' %} #}

<div class="o-row-large u-divider">
  <div class="o-wrapper o-wrapper--huge">
    <div class="s-editor">
      <h2 class="c-title-graphic">{{ block.heading }}</h2>
      {% if block.paragraph | length() %}
      {{ block.paragraph }}
      {% endif %}
    </div>
    {% if block.showAllSubpages | length() %}
      {% if block.showAsCards %}
      <ul class="o-layout c-card-group">
        {% set parent = craft.entries.slug(entry.slug).one() %}
        {% set pages =  parent.getDescendants(1)  %}
        {% for page in pages.all() %}
        <li class="o-layout__item u-1/2@small u-1/3@medium">
          <article class="o-box o-box--flush c-card-link">
            {% if page.pageIntro.one() | length() %}
            <div class="o-crop o-crop--3:1 u-margin-bottom c-media-border">
              {% if page.pageIntro.one().visual | length() %}
              {% set visual = page.pageIntro.one().visual.all() %}
              {% for block in visual %}
              {% switch block.type %}
              {% case "image" %}
                {% for image in block.image.all() %}
                {% if image.getMimeType() == 'image/gif' %}
                <img
                  src="{{ image.url() }}"
                  alt="{{ image.altText }}"
                  class="o-crop__content o-crop__content--center c-media lazyload fade-in">
                {% else %}
                <img
                  data-sizes="auto"
                  data-srcset="
                    {{ image.url(small) }} 350w,
                    {{ image.url(medium) }} 600w,
                    {{ image.url(large) }} 900w,
                    {{ image.url(xlarge) }} 1280w,
                    {{ image.url(huge) }} 1400w"
                  src="{{ image.url(thumb) }}"
                  alt="{{ image.altText }}"
                  class="o-crop__content o-crop__content--center c-media lazyload fade-in">
                {% endif %}
                {% endfor %}
              {% endswitch %}
              {% endfor %}
              {% endif %}
            </div>
            {% endif %}
            <h3 class="c-h3 u-margin-bottom-small"><a href="{{ page.url() }}" class="c-link c-card-link__link">{{ page.title }}</a></h3>
            {% if page.shortDescription | length() %}
            <p class="c-small u-margin-bottom-none">{{ page.shortDescription }}</p>
            {% elseif page.pageIntro.one() | length() %}
            {% set intro = page.pageIntro.one().intro.all() %}
            {% for block in intro %}
            {% switch block.type %}
            {% case "paragraph" %}
              <p class="c-small u-margin-bottom-none">{{ block.paragraph | length > 125 ? block.paragraph | slice(3, 125) ~ '...' : block.paragraph }}</p>
            {% endswitch %}
            {% endfor %}
            {% endif %}
          </article>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <ul class="c-para o-list-bare c-list c-list--divider u-margin-top-large">
        {% set parent = craft.entries.slug(entry.slug).one() %}
        {% set pages =  parent.getDescendants(1)  %}
        {% for page in pages.all() %}
        <li class="o-list-bare__item c-list__item">
          <a href="{{ page.url() }}" class="c-link c-card__link">{{ page.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    {% elseif block.relatedPages | length() %}
      {% if block.showAsCards %}
      <ul class="o-layout c-card-group">
        {% for page in block.relatedPages.all() %}
        <li class="o-layout__item u-1/2@small u-1/3@medium">
          <article class="o-box o-box--flush c-card-link">
            {% if page.pageIntro.one() | length() %}
            <div class="o-crop o-crop--3:1 u-margin-bottom c-media-border">
              {% if page.pageIntro.one().visual | length() %}
              {% set visual = page.pageIntro.one().visual.all() %}
              {% for block in visual %}
              {% switch block.type %}
              {% case "image" %}
                {% for image in block.image.all() %}
                {% if image.getMimeType() == 'image/gif' %}
                <img
                  src="{{ image.url() }}"
                  alt="{{ image.altText }}"
                  class="o-crop__content o-crop__content--center c-media lazyload fade-in">
                {% else %}
                <img
                  data-sizes="auto"
                  data-srcset="
                    {{ image.url(small) }} 350w,
                    {{ image.url(medium) }} 600w,
                    {{ image.url(large) }} 900w,
                    {{ image.url(xlarge) }} 1280w,
                    {{ image.url(huge) }} 1400w"
                  src="{{ image.url(thumb) }}"
                  alt="{{ image.altText }}"
                  class="o-crop__content o-crop__content--center c-media lazyload fade-in">
                {% endif %}
                {% endfor %}
              {% endswitch %}
              {% endfor %}
              {% endif %}
            </div>
            {% endif %}
            <h3 class="c-h3 u-margin-bottom-small">
              <a href="{{ page.url }}" class="c-link c-card-link__link">
                {{ page.title }}
              </a>
              {% if page.eventDetails | length() %}
              {% if page.eventDetails.one().dateEnd | length() %}
              <ul class="o-list-bare c-list c-list--agenda c-faded">
                <li class="o-list-bare__item c-list__item">
                  {{ page.eventDetails.one().dateStart | date('d F Y') | capitalize }}
                  {% if page.eventDetails.one().dateEnd  | date('d F Y') == page.eventDetails.one().dateStart  | date('d F Y') %}
                  {% else %}
                  tot
                  {{ page.eventDetails.one().dateEnd | date('d F Y') | capitalize }}:
                  {% endif %}
                </li>
              </ul>
              {% elseif page.eventDetails.one().dateStart | length() %}
              <ul class="o-list-bare c-list c-list--agenda c-faded">
                <li class="o-list-bare__item c-list__item">
                  {{ page.eventDetails.one().dateStart | date('d F Y') | capitalize }}:
                </li>
              </ul>
              {% endif %}
              {% endif %}
              {% if page.projectDetails | length() %}
              {% if page.projectDetails.one().dateEnd | length() %}
              <ul class="o-list-bare c-list c-list--agenda c-faded">
                <li class="o-list-bare__item c-list__item">
                  {{ page.projectDetails.one().dateStart | date('d F Y') | capitalize }}
                  {% if page.projectDetails.one().dateEnd  | date('d F Y') == page.projectDetails.one().dateStart  | date('d F Y') %}
                  {% else %}
                  tot
                  {{ page.projectDetails.one().dateEnd | date('d F Y') | capitalize }}:
                  {% endif %}
                </li>
              </ul>
              {% elseif page.projectDetails.one().dateStart | length() %}
              <ul class="o-list-bare c-list c-list--agenda c-faded">
                <li class="o-list-bare__item c-list__item">
                  {{ page.projectDetails.one().dateStart | date('d F Y') | capitalize }}:
                </li>
              </ul>
              {% endif %}
              {% endif %}
            </h3>
            {% if page.shortDescription | length() %}
            <p class="c-small u-margin-bottom-none">{{ page.shortDescription }}</p>
            {% elseif page.pageIntro.one() | length() %}
            {% set intro = page.pageIntro.one().intro.all() %}
            {% for block in intro %}
            {% switch block.type %}
            {% case "paragraph" %}
              <p class="c-small u-margin-bottom-none">{{ block.paragraph | length > 125 ? block.paragraph | slice(3, 125) ~ '...' : block.paragraph }}</p>
            {% endswitch %}
            {% endfor %}
            {% endif %}
          </article>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <ul class="c-para o-list-bare c-list c-list--divider u-margin-top-large">
        {% for page in block.relatedPages.all() %}
        <li class="o-list-bare__item c-list__item">
          <a href="{{ page.url }}" class="c-link">
            {% if page.eventDetails | length() %}
            {% if page.eventDetails.dateEnd | length %}
            {{ page.eventDetails.dateStart | date('d F Y') | capitalize }}
            {% if page.eventDetails.dateEnd  | date('d F Y') == page.eventDetails.dateStart  | date('d F Y') %}
            {% else %}
            tot
            {{ page.eventDetails.dateEnd | date('d F Y') | capitalize }}:
            {% endif %}
            {% elseif page.eventDetails.dateStart | length %}
            {{ page.eventDetails.dateStart | date('d F Y') | capitalize }}:
            {% endif %}
            {% endif %}
            {{ page.title }}
            {% if page.projectDetails | length() %}
            {% if page.projectDetails.one().dateEnd | length %}
            {{ page.projectDetails.one().dateStart | date('d F Y') | capitalize }}
            {% if page.projectDetails.one().dateEnd  | date('d F Y') == page.projectDetails.one().dateStart  | date('d F Y') %}
            {% else %}
            tot
            {{ page.projectDetails.one().dateEnd | date('d F Y') | capitalize }}:
            {% endif %}
            {% elseif page.projectDetails.one().dateStart | length %}
            {{ page.projectDetails.one().dateStart | date('d F Y') | capitalize }}:
            {% endif %}
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endif %}
  </div>
</div>
