{#
  Agenda
  ================
#}

{#
  {% include '_components/components.agenda-archive.twig' with { options: { layout: '' } } %}
#}

{# -- Set Defaults -- #}
{% set defaults = {
  layout: ''
} %}

{% if options is defined %}
  {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
  {% set options = defaults %}
{% endif %}

{# -- Module -- #}

{% paginate craft.entries.section('events')
  .with(['eventDetails.one()', 'pageIntro.one().visual.image'])
  .status('live')
  .limit(10)
  as paginate, pageEntries
%}

<div class="o-row-large u-divider" id="archive">
  <div class="o-wrapper o-wrapper--huge">
    <div class="s-editor">
      <h2 class="c-title-graphic">{{ labels.labelPassed }}</h2>
    </div>
    <ul class="c-para o-list-bare c-list c-list--divider u-margin-top">
    {% for event in pageEntries %}
      {% if event.eventDetails.one().dateEnd|length and event.eventDetails.one().dateEnd|date('Ymd') < now|date('Ymd') or event.eventDetails.one().dateEnd == null and event.eventDetails.one().dateStart|date('Ymd') < now|date('Ymd')  %}
      <li class="s-editor s-editor--small o-list-bare__item c-list__item">
        <article class="o-box o-box--flush">
          <h3 class="u-margin-bottom-small">
            <a href="{{ event.url }}">
              {% if event.eventDetails.one().dateEnd | length %}
              {{ event.eventDetails.one().dateStart | date('d F Y') | capitalize }}
              {% if event.eventDetails.one().dateEnd  | date('d F Y') == event.eventDetails.one().dateStart  | date('d F Y') %}
              {% else %}
              tot
              {{ event.eventDetails.one().dateEnd | date('d F Y') | capitalize }}:
              {% endif %}
              {% else %}
              {{ event.eventDetails.one().dateStart | date('d F Y') | capitalize }}:
              {% endif %}
              {{ event.title }}
            </a>
          </h3>
        </article>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
    {# Build pagination interface if more than 1 page #}
    {% if paginate.totalPages > 1 %}
    <ul class="o-list-bare c-pagination">
      {% if paginate.prevUrl %}
        <li class="o-list-bare__item c-pagination__item c-pagination__item--first"><a href="{{ paginate.prevUrl }}#archive" class="c-pagination__link">{% include '_tools/tools.icon.twig' with { options: { icon: 'previous' } } %} <span>{{ labels.labelPrevious }}</span></a></li>
      {% endif %}

      {% for page, url in paginate.getPrevUrls(3) %}
        <li class="o-list-bare__item c-pagination__item"><a href="{{ url }}#archive" class="c-pagination__link">{{ page }}</a></li>
      {% endfor %}

      <li class="o-list-bare__item c-pagination__item c-pagination__item--current">{{ paginate.currentPage }}</li>

      {% for page, url in paginate.getNextUrls(3) %}
        <li class="o-list-bare__item c-pagination__item"><a href="{{ url }}#archive"  class="c-pagination__link">{{ page }}</a></li>
      {% endfor %}

      {% if paginate.nextUrl %}
        <li class="o-list-bare__item c-pagination__item c-pagination__item--last"><a href="{{ paginate.nextUrl }}#archive"  class="c-pagination__link"><span>{{ labels.labelNext }}</span> {% include '_tools/tools.icon.twig' with { options: { icon: 'next' } } %}</a></li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>
