{#
  Agenda
  ================
#}

{#
  {% include '_components/components.agenda-overview.twig' with { options: { layout: '' } } %}
#}

{# -- Set Defaults -- #}
{% set defaults = {
  layout: ''
} %}

{% if options is defined %}
  {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
  {% set options = defaults %}
{% endif %}

{# -- Module -- #}
{% set loopCount = 0 %}

{% set pageEntries = craft.entries
  .section('blog')
  .all()
%}

<div class="o-row-large u-divider">
  <div class="o-wrapper o-wrapper--huge">
    <div class="s-editor s-editor--title">
      <h2>{{ labels.labelNewBlogPosts }}</h2>
    </div>

    <ul class="o-layout c-card-group">
      {% for item in pageEntries %}
        {% set loopCount = loopCount + 1 %}
        {% if loopCount == "1" %}
        <li class="o-layout__item u-1/2@small u-1/3@medium">
          <article class="o-box o-box--flush c-card-link">
            {% if item.pageIntro | length() %}
            <div class="o-crop o-crop--3:1 u-margin-bottom c-media-border">
              {% if item.pageIntro.visual | length() %}
              {% set visual = item.pageIntro.visual.all() %}
              {% for block in visual %}
              {% switch block.type %}
              {% case "image" %}
                {% for image in block.image.all() %}
                {% if image.getMimeType() == 'image/gif' %}
                <img
                  src="{{ image.url() }}"
                  alt="{{ image.altText }}"
                  class="o-crop__content o-crop__content--center c-media lazyload fade-in">
                {% else %}
                <img
                  data-sizes="auto"
                  data-srcset="
                    {{ image.url(small) }} 350w,
                    {{ image.url(medium) }} 600w,
                    {{ image.url(large) }} 900w,
                    {{ image.url(xlarge) }} 1280w,
                    {{ image.url(huge) }} 1400w"
                  src="{{ image.url(thumb) }}"
                  alt="{{ image.altText }}"
                  class="o-crop__content o-crop__content--center c-media lazyload fade-in">
                {% endif %}
                {% endfor %}
              {% endswitch %}
              {% endfor %}
              {% endif %}
            </div>
            {% endif %}
            <div class="s-editor s-editor--small">
              <h2 class="u-margin-bottom-small">
                <a href="{{ item.url }}" class="c-card-link__link">
                  {{ item.title }}
                </a>
              </h2>
              {# Details #}
              <ul class="o-list-bare c-list c-list--agenda c-faded">
                <li class="o-list-bare__item c-list__item">
                  ✏️ &nbsp;{{ item.postDate | date('l d F Y') | capitalize }}
                </li>
              </ul>
              {% if item.shortDescription | length() %}
              <div class="s-editor">
                <p>{{ item.shortDescription}}</p>
              </div>
              {% elseif item.pageIntro | length() %}
              {% set intro = item.pageIntro.intro.all() %}
              {% for block in intro %}
              {% switch block.type %}
              {% case "paragraph" %}
                <p class="c-small u-margin-bottom-none">{{ block.paragraph | length > 125 ? block.paragraph | slice(3, 125) ~ '...' : block.paragraph }}</p>
              {% endswitch %}
              {% endfor %}
              {% endif %}
            </div>
          </article>
        </li>
        {% endif %}
        {% if loopCount == "2" %}
        <li class="o-layout__item u-1/2@small u-1/3@medium">
          <article class="o-box o-box--flush c-card-link">
            {% if item.pageIntro | length() %}
            <div class="o-crop o-crop--3:1 u-margin-bottom c-media-border">
              {% if item.pageIntro.visual | length() %}
              {% set visual = item.pageIntro.visual.all() %}
              {% for block in visual %}
              {% switch block.type %}
              {% case "image" %}
                {% for image in block.image.all() %}
                {% if image.getMimeType() == 'image/gif' %}
                <img
                  src="{{ image.url() }}"
                  alt="{{ image.altText }}"
                  class="o-crop__content o-crop__content--center c-media lazyload fade-in">
                {% else %}
                <img
                  data-sizes="auto"
                  data-srcset="
                    {{ image.url(small) }} 350w,
                    {{ image.url(medium) }} 600w,
                    {{ image.url(large) }} 900w,
                    {{ image.url(xlarge) }} 1280w,
                    {{ image.url(huge) }} 1400w"
                  src="{{ image.url(thumb) }}"
                  alt="{{ image.altText }}"
                  class="o-crop__content o-crop__content--center c-media lazyload fade-in">
                {% endif %}
                {% endfor %}
              {% endswitch %}
              {% endfor %}
              {% endif %}
            </div>
            {% endif %}
            <div class="s-editor s-editor--small">
              <h2 class="u-margin-bottom-small">
                <a href="{{ item.url }}" class="c-card-link__link">
                  {{ item.title }}
                </a>
              </h2>
              {# Details #}
              <ul class="o-list-bare c-list c-list--agenda c-faded">
                <li class="o-list-bare__item c-list__item">
                  ✏️ &nbsp;{{ item.postDate | date('l d F Y') | capitalize }}
                </li>
              </ul>
              {% if item.shortDescription | length() %}
              <div class="s-editor">
                <p>{{ item.shortDescription}}</p>
              </div>
              {% elseif item.pageIntro | length() %}
              {% set intro = item.pageIntro.intro.all() %}
              {% for block in intro %}
              {% switch block.type %}
              {% case "paragraph" %}
                <p class="c-small u-margin-bottom-none">{{ block.paragraph | length > 125 ? block.paragraph | slice(3, 125) ~ '...' : block.paragraph }}</p>
              {% endswitch %}
              {% endfor %}
              {% endif %}
            </div>
          </article>
        </li>
        {% endif %}
        {% if loopCount == "3" %}
        <li class="o-layout__item u-1/2@small u-1/3@medium">
          <article class="o-box o-box--flush c-card-link">
            {% if item.pageIntro | length() %}
            <div class="o-crop o-crop--3:1 u-margin-bottom c-media-border">
              {% if item.pageIntro.visual | length() %}
              {% set visual = item.pageIntro.visual.all() %}
              {% for block in visual %}
              {% switch block.type %}
              {% case "image" %}
                {% for image in block.image.all() %}
                {% if image.getMimeType() == 'image/gif' %}
                <img
                  src="{{ image.url() }}"
                  alt="{{ image.altText }}"
                  class="o-crop__content o-crop__content--center c-media lazyload fade-in">
                {% else %}
                <img
                  data-sizes="auto"
                  data-srcset="
                    {{ image.url(small) }} 350w,
                    {{ image.url(medium) }} 600w,
                    {{ image.url(large) }} 900w,
                    {{ image.url(xlarge) }} 1280w,
                    {{ image.url(huge) }} 1400w"
                  src="{{ image.url(thumb) }}"
                  alt="{{ image.altText }}"
                  class="o-crop__content o-crop__content--center c-media lazyload fade-in">
                {% endif %}
                {% endfor %}
              {% endswitch %}
              {% endfor %}
              {% endif %}
            </div>
            {% endif %}
            <div class="s-editor s-editor--small">
              <h2 class="u-margin-bottom-small">
                <a href="{{ item.url }}" class="c-card-link__link">
                  {{ item.title }}
                </a>
              </h2>
              {# Details #}
              <ul class="o-list-bare c-list c-list--agenda c-faded">
                <li class="o-list-bare__item c-list__item">
                  ✏️ &nbsp;{{ item.postDate | date('l d F Y') | capitalize }}
                </li>
              </ul>
              {% if item.shortDescription | length() %}
              <div class="s-editor">
                <p>{{ item.shortDescription}}</p>
              </div>
              {% elseif item.pageIntro | length() %}
              {% set intro = item.pageIntro.intro.all() %}
              {% for block in intro %}
              {% switch block.type %}
              {% case "paragraph" %}
                <p class="c-small u-margin-bottom-none">{{ block.paragraph | length > 125 ? block.paragraph | slice(3, 125) ~ '...' : block.paragraph }}</p>
              {% endswitch %}
              {% endfor %}
              {% endif %}
            </div>
          </article>
        </li>
        {% endif %}
      {% endfor %}
    </ul>

    <div class="o-box c-card c-card--delta">
      {% set blogOverview = craft.entries.section('blogOverview').one() %}

      <p class="c-small">
        <a href="{{ blogOverview.url }}" class="c-link c-link--neutral">{{ labels.labelMoreNews }}</a>
      </p>
    </div>
  </div>
</div>
